/* !!! Global styles !!! */

/* CSS variables */

:root {
  --main-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --interactive-contacts-in-footer-color: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
  --background-hero: #C4C4C4;
  --background-color-second: #f5f4fa;
}

/* Global styles reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  font-weight: 700;

  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-height: 100%;
}

a {
  display: block;

  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-color);
  background-color: var(--white-color);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Paddings for all sections except Hero */

section:not(.hero) {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Zero bottom padding for feature section - overflows previous padding */

section.features {
  padding-bottom: 0;
}

/* Visually hidden headings */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Visually observed headings */

.visually-observed {
  margin-bottom: 50px;

  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* Logo */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.colored-part-of-logo-in-header {
  color: var(--black-color);
}

.colored-part-of-logo-in-footer {
  color: var(--white-color);
}

/* !!! HEADER !!! */

.nav-header {
  display: flex;
}

.logo-and-menu-in-header {
  display: flex;
  align-items: center;
}

/* Main menu */

.main-menu {
  display: flex;
  margin-left: 93px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.main-menu li:not(:last-child) {
  margin-right: 50px;
}

.main-menu a {
  color: var(--second-color);
}

/* Contacts in header */

.contacts-in-header {
  display: flex;
  margin-left: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.contacts-in-header li:not(:last-child) {
  margin-right: 50px;
}

.contacts-in-header a {
  color: var(--main-color);
}

/* Paddings for all anchors in header except logo */

header a:not(.logo) {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Hover and focus for anchors in header except logo */

.main-menu a:hover,
.main-menu a:focus,
.main-menu .current,
.contacts-in-header a:hover,
.contacts-in-header a:focus {
  color: var(--accent-color);
}

/* Line border */

header {
  border-bottom: 1px solid #ececec;
}

/* !!! MAIN PAGE !!! */

/* Hero section*/

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  height: 600px;
  max-width: 1600px;
  
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-hero);
}

.hero-heading {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Button Order service */

.order-button {
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  border-radius: 4px;
  border: 0;
}

/* Feature section */

.features-list {
  display: flex;
}

.features-list li {
  margin-right: 30px;
  width: 270px;
}

.features-list li:last-child {
  margin-right: 0;
}

.feature-headings {
  margin-bottom: 10px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What do we do section */

.what-do-we-do-list {
  display: flex;
}

.what-do-we-do-list li {
  margin-right: 30px;
}

.what-do-we-do-list li:last-child {
  margin-right: 0;
}

/* Our team section */

.our-team {
  background-color: var(--background-color-second);
}

.our-team-list {
  display: flex;
}

.team-member-card {
  margin-right: 30px;

  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  border-radius: 0px 0px 4px 4px;
}

.team-member-card:last-child {
  margin-right: 0;
}

.team-member {
  padding: 30px 15px;
}

.team-member-name {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-member-position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* !!! PORTFOLIO PAGE !!! */

/* Filter */

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  display: block;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--background-color-second);
  border: none;
  border-radius: 4px;
}

.filter-buttons li {
  margin-right: 8px;
}

.filter-buttons li:last-child {
  margin-right: 0;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Portfolio cards */

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-card {
  margin: 15px;

  background-color: var(--white-color);
}

.project-name-and-type {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card-heading {
  margin-bottom: 4px;

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio-card-project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* !!! FOOTER !!! */

.footer {
  padding: 60px 0;

  background-color: var(--background-footer);
}

.footer .logo {
  margin-bottom: 20px;
}

/* Postal address not interactive contact in footer */

.postal-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Email and phone interactive contacts in footer */

.contacts-in-footer a {
  list-style: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--interactive-contacts-in-footer-color);
}

.contacts-in-footer a:hover,
.contacts-in-footer a:focus {
  color: var(--accent-color);
}

.contacts-in-footer li:not(:last-child) {
  margin-bottom: 9px;
}
